.mainStyle {
	margin: 10px;
	color: #ffffff;
	text-align: left;
	padding: 20px;
	border-radius: 10px;
}

.mainStyle h4 {
	font-weight: bold;
	letter-spacing: 0.04rem;
}

.mainStyle p {
	font-size: 13px;
	letter-spacing: 0.04rem;
}

.dnd-item-TODO {
	background-color: rgb(214, 193, 134);
}

.dnd-item-ONGOING {
	background-color: rgb(24, 147, 252);
}

.dnd-item-DONE {
	background-color: rgb(84, 213, 124);
}

.buttonSection {
	text-align: right;
}

.delete-button {
	text-align: center;
	margin-top: 20px;
	padding: 5px;
	cursor: pointer;
	border: 1px solid tomato;
	padding: 5px 15px 5px 15px;
	background: #ffffff;
	color: #000000;
	border-radius: 5px;
	color: tomato;
}

.delete-button:hover {
	background: tomato;
	color: #ffffff;
	transition: 0.2s ease-in;
}

.accordionBody {
	text-align: left;
}
